<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/14da7fdb9f.js" crossorigin="anonymous"></script>
    <title><%= pageTitle %> </title>
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
    <header>
        <%- include ('partials/content/header.ejs') %> 
    </header>

    <main>
       
            <% if(!albumDetails){ %> 
            <div class="albums">
                <% for( let i = 0; i < jennysAlbums.length; i++ ) { %>
                <a href="/albums/<%=jennysAlbums[i].index%>" class="albumMenu"><img src="<%= jennysAlbums[i].imgURL %>" alt="" height="200px"></a>
            
                <% } %> 
            </div>
                <% }else{ %> 
                    <div class="albumDetail">
                    <div class="albumDleft">
                    <h2 class=""><%= albumDetails.name %> </h2>
                    <h3 class=""><%= albumDetails.publishDate %></h3>
                    <h3 class=""><%= albumDetails.label %></h3>
                    </div>

                    <img src="<%=albumDetails.imgURL %> " alt="" height="350px">

                    <div class="tracks">
                        <h3>Tracks</h3>
                    <ol>
                    <% albumDetails.songTitles.forEach(song =>{ %> 
                        <li><%= song %> </li>
                    <% }) %> 
                    </ol>
                    </div>
                </div>
                <% } %>
       
    </main>


    
</body>
</html>